<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat form</title>
</head>
<body>
    <div>
        <form method="POST" action="http://localhost:8080/chat">
            <input type="text" placeholder = "from" name = "from">
            <br>
            <textarea name="msg" id="msg" placeholder="enter your msg here"></textarea>
            <br>
            <input type="text" placeholder="to" name="to">
            <button>submit</button>
        </form>
    </div>
</body>
</html>